# all sql data
*.sql

# all notes except for the requirements for Docker and the license
*.txt
!requirements.txt
!LICENSE

# all log files
*.log

# all data files
/data/
data/**/*.CSV

# virtual environment
.venv

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

